@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: "Inter", system-ui, sans-serif;
    font-size: 16px;
  }
}
@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175, 0.5);
    border-radius: 9999px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background-color: rgba(229, 231, 235, 0.3);
  }

  .dark .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175, 0.7);
  }

  .dark .scrollbar-thin::-webkit-scrollbar-track {
    background-color: rgba(75, 85, 99, 0.3);
  }
}
.swiper-container {
  height: 100%;
  max-height: 100vw;
  min-width: 0;
  max-width: 100vw;
  width: 100%;
  overflow: scroll;
}

.swiper-slide {
  width: auto !important;
  flex-shrink: 0;
  display: block;
  height: 100%;
  max-height: 100%;
}
.swiper-wrapper {
  max-width: 100%;
  width: 100%;
  display: flex !important;
}
