@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: "Inter", system-ui, sans-serif;
    font-size: 16px;
  }
}
@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175, 0.5);
    border-radius: 9999px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background-color: rgba(229, 231, 235, 0.3);
  }

  .dark .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175, 0.7);
  }

  .dark .scrollbar-thin::-webkit-scrollbar-track {
    background-color: rgba(75, 85, 99, 0.3);
  }
}
